<div class="panel panel-default">
  <div class="panel-heading">Number : <%= comment.comment_index %>  投稿者 : <a href="/users/<%= comment.user_id %>"><%= comment.user.nickname %>
  </a></div>
  <div class="panel-body">
    コメント : <%= comment.text %>
  </div>


  <div class="panel-footer">

  <% if user_signed_in? && current_user.id == comment.user_id %>


    <button class="btn btn-default" type="submit">


<%= link_to '編集する', edit_song_call_comment_path(@call.song.id, @call.id, comment.id) , method: :get %>

    </button>

    <button class="btn btn-default" type="submit">
  <%= link_to '削除する', song_call_comment_path(@call.song.id, @call.id, comment.id) , method: :delete %>

    </button>
  <% end %>
  </div>
</div>