<div class="panel panel-default">
  <div class="panel-heading"><%= @user.nickname %>さんのマイページ</div>

<ul class="list-group">
    <li class="list-group-item">
      <small>推しメン : </small><%= @user.oshi_member %></li>

<li class="list-group-item">
  <small>あいさつ : </small><%= @user.greeting %></li>

<div class="page-header">
  <h3>投稿したコール一覧</h3>
</div>
<div class="panel panel-default">
  <!-- Default panel contents -->

  <div class="list-group">
  <% if @user.calls.present? %>
    <% @user.calls.each do |call| %>
      <a href="/songs/<%= call.song.id %>" class="list-group-item"><%= call.song.name %></a>
    <% end %>
  <% else %>
    <li class="list-group-item">まだ投稿はありません</li>
  <%end%>
  </div>
</div>
